h1 {
  font-family: fantasy;
  color: green;
  font-size: 50px;
}
h4 {
  font-size: 22px;
  
}

p {
  font-family: Arial, Helvetica, sans-serif;
  /* font: 200px; */
  font-size: 27px;
  /* color: white; */
  /* border:2px solid rgb(87, 19, 175); */
  /* background-color: rgb(48, 4, 247); */
}

body {
  background-color: rgb(255, 215, 0);
  padding: 25px;
  /* box sizing makes sure that padding and margin doesnt get added 
  to width and heigh of a box */
  box-sizing: border-box;
}


.special:hover {
    background-color: rgb(255,215,0);
}

 #favorite-movies {
  color:seashell;
  border-radius: 35px;
  background-color: rgb(143, 10, 196);
  text-align: center;
  width: 300px;
  padding: 15px;
  margin: 15px;
}
#my-classes {
  color:seashell;
  border-radius: 35px;
  background-color: rgb(143, 10, 196);
  text-align: center;
  width: 300px;
  padding: 15px;
  margin: 15px;
}

#happy {
  padding: 25px;
  margin: 25px;
 
}
#sad {
  padding: 25px;
  margin: 25px;
  
}
.my-moods{
font-size: 25px;
color: green;
margin: 10px;
text-align:left;
}

